<!doctype html>
<html lang="ko" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#E9B88D">

    <title>판자 크리틱</title>

    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!--  My Stylesheet  -->
    <link rel="stylesheet" type="text/css" href="/style/r_style.css">

    <!--  JQuery  -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand navbar-light fixed-top r-navbar r-bg-primary not-draggable" id="navbar">
        <div class="container-fluid align-text-bottom">
            <a class="navbar-brand" href="/">
                <img src="/img/logo-sm.png" alt="" width="30" height="30" style="margin: 0;"
                    class="d-inline-block align-text-top not-draggable-img"></a>
            <div class="collapse navbar-collapse scroll-horiz scroll-no-bar" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link r-active r-nav-link" aria-current="page" href="#overview">톺아보기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link r-nav-link" href="#uploads">업로드</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link r-nav-link" href="#promises">약속</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link r-nav-link" href="#trashcan">짬통</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link r-nav-link" href="#assesments">개밥그릇</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div data-bs-spy="scroll" data-bs-target="#navbar" data-bs-smooth-scroll="true">

        <div class="container mt-7" style="max-width: 640px;" id="overview">
            <div class="d-flex justify-content-center">
                <img class="img-fluid" src="/img/cover.png">
            </div>
            <div class="d-flex justify-content-center mt-5">
                <a class="btn btn-primary" href="#assesments">↓ 바로 평가하기</a>
            </div>
        </div>

        <!-- Overview -->
        <% 
        var uploadScore = uploads.score; 
        var prevUploadScore = uploads.prevScore;

        var promiseSuccess = promises.success;
        var promiseHalf = promises.half;
        var promiseFailure = promises.fail;
        
        var promiseScore = promises.score;
        var promiseSuccessHalf = (promiseSuccess * 2) + promiseHalf;
        promiseSuccessHalf = promiseSuccessHalf == 0 ? 0 : parseFloat(promiseSuccessHalf) / 2.0;

        var thisMonthLikeScore = likes.score;
        var thisMonthLikeTotal = likes.count;

        var today = new Date();
        %>
        <div class="container mt-7" style="max-width: 640px;" id="overview">
            <h1>톺아보기</h1>
            <div class="card-neumorph p-3 mt-4">
                <h2>실시간 총점</h2>
                <span style="font-size: 4em;">
                    <%= totalScore.toFixed(1) %>
                </span>
                <span style="font-size: 1em;">
                    <strong>/ 100.0</strong>
                </span>
                <span style="font-size: 4em;">
                    점
                </span>
                <br>
                <% if (calibrate !=0) { %>
                    <span>실시간 점수 보정치가 적용되고 있습니다!</span>
                    <% } %>
                        <br>
                        <br>
                        <div class="progress-stacked">
                            <div class="progress" role="progressbar" aria-label="Segment one"
                                aria-valuenow="<%= uploadScore / 3.0 %>" aria-valuemin="0" aria-valuemax="100"
                                style="width: <%= uploadScore / 3.0 %>%">
                                <div class="progress-bar"></div>
                            </div>
                            <div class="progress" role="progressbar" aria-label="Segment two"
                                aria-valuenow="<%= promiseScore / 3.0 %>" aria-valuemin="0" aria-valuemax="100"
                                style="width: <%= promiseScore / 3.0 %>%">
                                <div class="progress-bar bg-success"></div>
                        </div>
                            <div class="progress" role="progressbar" aria-label="Segment three"
                                aria-valuenow="<%= thisMonthLikeScore / 3.0 %>" aria-valuemin="0" aria-valuemax="100"
                                style="width: <%= thisMonthLikeScore / 3.0 %>%">
                                <div class="progress-bar bg-info"></div>
                            </div>
                        </div>
                        <ul class="list-group mt-3">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="ms-2 me-auto">이달 업로드</div>
                                </div>
                                <span class="badge bg-primary rounded-pill">
                                    <%= uploads.thisMonth.length %>
                                </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="ms-2 me-auto">약속</div>
                                </div>
                                <span class="badge bg-primary rounded-pill">
                                    <%= promiseSuccessHalf %>
                                </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="ms-2 me-auto">개밥그릇 평가</div>
                                </div>
                                <span class="badge bg-primary rounded-pill">
                                    <% if (thisMonthLikeTotal == 0) { %>
                                        평가 없음
                                    <% } else { %>
                                        <% if (thisMonthLikeScore>= 80) { %>
                                            압도적으로 긍정적
                                        <% } else if (thisMonthLikeScore>= 60) { %>
                                            긍정적
                                        <% } else if (thisMonthLikeScore>= 40) { %>
                                            복합적
                                        <% } else if (thisMonthLikeScore>= 20) { %>
                                         부정적
                                        <% } else { %>
                                            압도적으로 부정적
                                        <% } %>
                                    <% } %>
                                </span>
                            </li>
                        </ul>
                        <ul class="list-group mt-3">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="ms-2 me-auto">짬통에 들어간 게임</div>
                                </div>
                                <span class="badge bg-primary rounded-pill">
                                    <%= trashcans.unfinished.length %>
                                </span>
                            </li>
                        </ul>

                        <div class="container text-end mt-3">
                            <a href="#overview" data-bs-toggle="tooltip" data-bs-title="점수 산정 방법: 이달 업로드 점수(2개 만점) / 3 + 약속 점수 / 3 + 개밥그릇 평가 / 3">
                                실시간 점수 산정
                            </a>
                        </div>
            </div>
        </div>

        <!-- Uploads -->
        <div class="container mt-7" style="max-width: 640px;" id="uploads">
            <h1>영상 업로드</h1>
            <div class="card-neumorph p-3 mt-4">
                <h2>이달 업로드</h2>
                <span style="font-size: 4em;">
                    <%= uploads.thisMonth.length %>개
                    <%
                    if (uploads.thisMonth.length >= 2) {
                    %>
                    <a href="#" data-bs-toggle="tooltip" data-bs-title="GIF 출처: 물빛보라">
                        <img src="/img/good_doggy.gif" width="56px;">
                    </a>
                    <%
                    }
                    %>
                </span>
                
                <div class="progress" role="progressbar" aria-label="Info example"
                    aria-valuenow="<%= uploadScore %>" aria-valuemin="0"
                    aria-valuemax="100">
                    <div class="progress-bar bg-info"
                        style="width: <%= uploadScore %>%"></div>
                </div>

                <ul class="list-group mt-3">
                    <% for (var i=0; i < uploads.thisMonth.length; i++) { %>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="ms-2 me-auto">
                                    <a class="btn-link" href="<%= uploads.thisMonth[i].url %>" target="_blank">
                                        <%= uploads.thisMonth[i].title %>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <% } %>
                </ul>

                <div class="container text-end mt-3">
                    <a href="#uploads" data-bs-toggle="tooltip" data-bs-title="업로드 만점 점수는 본인의 간곡한 요청에 의해 한달 2개로 지정되었습니다.">
                        업로드 점수 도움말
                    </a>
                </div>
            </div>
            <div class="card-neumorph p-3 mt-4">
                <h2>지난달 업로드</h2>
                <span style="font-size: 4em;">
                    <%= uploads.prevMonth.length %>개
                </span>
                <div class="progress" role="progressbar" aria-label="Info example"
                    aria-valuenow="<%= prevUploadScore %>"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-info"
                        style="width: <%= prevUploadScore %>%"></div>
                </div>

                <ul class="list-group mt-3">
                    <% for (var i=0; i < uploads.prevMonth.length; i++) { %>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="ms-2 me-auto">
                                    <a class="btn-link" href="<%= uploads.prevMonth[i].url %>" target="_blank">
                                        <%= uploads.prevMonth[i].title %>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <% } %>
                </ul>
            </div>
        </div>

        <!-- Promise -->
        <div class="container mt-7" style="max-width: 640px;" id="promises">
            <h1>약속</h1>
            <div class="card-neumorph p-3 mt-4">
                <h2>지킨 약속</h2>

                <div class="row text-center mt-4 mb-4">
                    <div class="col">
                        <h3>전부<br>지킴</h3>
                        <span style="font-size: 2em;">
                            <%= promiseSuccess %>개
                        </span>
                    </div>
                    <div class="col">
                        <h3>하다<br>말았네</h3>
                        <span style="font-size: 2em;">
                            <%= promiseHalf %>개
                        </span>
                    </div>
                    <div class="col">
                        <h3>칠지도<br>가져와</h3>
                        <span style="font-size: 2em;">
                            <%= promiseFailure %>개
                        </span>
                    </div>
                </div>
                
                    <div class="progress-stacked">
                        <div class="progress" role="progressbar" aria-label="Segment one"
                            aria-valuenow="<%= promiseSuccess %>" aria-valuemin="0" aria-valuemax="<%= promises.list.length %>"
                            style="width: <%= (promiseSuccess == 0 ? 0 : parseFloat(promiseSuccess) / 3.0) * 100 %>%">
                            <div class="progress-bar"></div>
                        </div>
                        <div class="progress" role="progressbar" aria-label="Segment one"
                            aria-valuenow="<%= promiseHalf %>" aria-valuemin="0" aria-valuemax="<%= promises.list.length %>"
                            style="width: <%= (promiseHalf == 0 ? 0 : parseFloat(promiseHalf) / 3.0) * 100 %>%">
                            <div class="progress-bar bg-warning"></div>
                        </div>
                        <div class="progress" role="progressbar" aria-label="Segment two"
                            aria-valuenow="<%= promiseFailure %>" aria-valuemin="0" aria-valuemax="<%= promises.list.length %>"
                            style="width: <%= (promiseFailure == 0 ? 0 : parseFloat(promiseFailure / 3.0)) * 100 %>%">
                            <div class="progress-bar bg-danger"></div>
                        </div>
                    </div>
                    <br>
                    <span class="mt-3">최근 약속</span>
                    <ul class="list-group mt-1">
                        <% for (var i=0; i < (promises.list.length > 10 ? 10 : promises.list.length); i++) { %>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">
                                            <%= promises.list[i].promise %>
                                        </div>
                                        <% if (promises.list[i].report && promises.list[i].report !== "") { %>
                                            <%= promises.list[i].report %>
                                                <% } %>
                                    </div>
                                </div>
                                <span class="badge bg-primary rounded-pill">
                                    <% switch (promises.list[i].status) { case 0: %>안지킴
                                        <% break; case 1: %>반만 지킴
                                            <% break; case 2: %>지킴
                                                <% break; } %>
                                </span>
                            </li>
                        <% } %>
                    </ul>
                    <%
                    if (promises.list.length > 10) {
                    %>
                    <button class="btn btn-primary mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#promiseCollapse" aria-expanded="false" aria-controls="promiseCollapse">
                        나머지 약속 보기
                    </button>
                    <div class="collapse mt-4" id="promiseCollapse">
                        <ul class="list-group mt-1">
                            <% for (var i = 10; i < promises.list.length; i++) { %>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="ms-2 me-auto">
                                            <div class="fw-bold">
                                                <%= promises.list[i].promise %>
                                            </div>
                                            <% if (promises.list[i].report && promises.list[i].report !== "") { %>
                                                <%= promises.list[i].report %>
                                                    <% } %>
                                        </div>
                                    </div>
                                    <span class="badge bg-primary rounded-pill">
                                        <% switch (promises.list[i].status) { case 0: %>안지킴
                                            <% break; case 1: %>반만 지킴
                                                <% break; case 2: %>지킴
                                                    <% break; } %>
                                    </span>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                    <%
                    }
                    %>
            </div>
            <div class="container text-end mt-3">
                <a href="#trashcan" data-bs-toggle="tooltip" data-bs-title="냉장고 공간 뒤 숨겨진 회초리를 뜻합니다.">
                    칠지도가 뭔가요?
                </a>
            </div>
        </div>

        <!-- Trashcan -->
        <div class="container mt-7" style="max-width: 640px;" id="trashcan">
            <h1>짬통</h1>
            <div class="card-neumorph p-3 mt-4">
                <h2>짬통행 게임 수</h2>
                <span style="font-size: 4em;">
                    <%= trashcans.unfinished.length %>개
                </span>
                <p class="text-secondary"></p>
                <ul class="list-group mt-3">
                    <% for (var i=0; i < trashcans.unfinished.length; i++) { %>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">
                                        <%= trashcans.unfinished[i].game %>
                                    </div>
                                    <% 
                                    if (trashcans.unfinished[i].lastPlayed != null) { 
                                        const diff = Math.abs(today.getTime() - trashcans.unfinished[i].lastPlayed.getTime() - 1);
                                        var lastPlayed = Math.ceil(diff / (1000 * 60 * 60 * 24));
                                    %>
                                    <span class="text-secondary mt-2">마지막으로 플레이한지 <%= lastPlayed %>일 째</span>
                                    <% } %>
                                </div>
                            </div>
                        </li>
                    <% } %>
                </ul>
                <button class="btn btn-primary mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#trashcanCollapse" aria-expanded="false" aria-controls="trashcanCollapse">
                    모든 짬통 보기
                </button>
                <div class="collapse mt-4" id="trashcanCollapse">
                    <ul class="list-group mt-3">
                        <% for (var i = 0; i < trashcans.list.length; i++) { %>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">
                                            <% if (trashcans.list[i].finished) { %>
                                                <span class="badge bg-success rounded-pill me-2">
                                                    완료함
                                                </span>
                                            <% } else { %>
                                                <span class="badge bg-danger rounded-pill me-2">
                                                    짬통행
                                                </span>
                                            <% } %>
                                            <%= trashcans.list[i].game %>
                                        </div>
                                        <% 
                                        if (trashcans.list[i].lastPlayed != null) { 
                                            const diff = Math.abs(today.getTime() - trashcans.list[i].lastPlayed.getTime() - 1);
                                            var lastPlayed = Math.ceil(diff / (1000 * 60 * 60 * 24));
                                        %>
                                        <span class="text-secondary mt-2">마지막으로 플레이한지 <%= lastPlayed %>일 째</span>
                                        <% } %>
                                    </div>
                                </div>
                            </li>
                        <% } %>
                    </div>
                </ul>
            </div>
            <div class="container text-end mt-3">
                <a href="#trashcan" data-bs-toggle="tooltip" data-bs-title="짬통은 플레이 도중, 혹은 플레이 약속 후 변심, 질림, 귀찮음 등의 이유로 장기간 하지 않은 게임의 모음을 뜻합니다.">
                    짬통이 뭔가요?
                </a>
            </div>
        </div>

        <!-- Assesment -->
        <div class="container mt-7" style="max-width: 640px;" id="assesments">
            <h1>개밥그릇</h1>
            <div class="card-neumorph p-3 mt-4">
                <h2>개밥그릇 평가</h2>
                <hr>
                <h4 class="mt-2">이달 평가</h4>
                <span style="font-size: 2em;">
                    <% if (likes.count == 0) {%>
                        평가 없음
                    <% } else { %>
                        <% if (thisMonthLikeScore>= 80) { %>
                            압도적으로 긍정적
                        <% } else if (thisMonthLikeScore>= 60) { %>
                            긍정적
                        <% } else if (thisMonthLikeScore>= 40) { %>
                            복합적
                        <% } else if (thisMonthLikeScore>= 20) { %>
                            부정적
                        <% } else { %>
                            압도적으로 부정적
                        <% } %>
                     <% } %>
                </span>
                <div class="progress-stacked">
                    <% 
                    var thisMonthLikeSadCounts = likes.count;
                    var likePercent=likes.thisMonthLikes==0 ? 0 : parseFloat(likes.thisMonthLikes) / parseFloat(thisMonthLikeSadCounts) * 100; 
                    var sadPercent=likes.thisMonthSads==0 ? 0 : parseFloat(likes.thisMonthSads) / parseFloat(thisMonthLikeSadCounts) * 100; 
                    %>
                        <div class="progress" role="progressbar" aria-label="Segment one"
                            aria-valuenow="<%= likePercent %>" aria-valuemin="0" aria-valuemax="100"
                            style="width: <%= likePercent %>%">
                            <div class="progress-bar">좋아요 <%= likes.thisMonthLikes %>
                            </div>
                        </div>
                        <div class="progress" role="progressbar" aria-label="Segment one"
                            aria-valuenow="<%= sadPercent %>" aria-valuemin="0" aria-valuemax="100"
                            style="width: <%= sadPercent %>%">
                            <div class="progress-bar bg-warning">킹받아요 <%= likes.thisMonthSads %>
                            </div>
                        </div>
                </div>
                <hr>
                <h4 class="mt-2">전체 평가</h4>
                <%
                var allLikeTotal = likes.allCount;
                var allLikeScore = likes.allScore;
                %>
                <span style="font-size: 2em;">
                    <% if (likes.allCount == 0) { %>
                        평가 없음
                    <% } else if (allLikeScore >= 80) { %>
                        압도적으로 긍정적
                    <% } else if (allLikeScore >= 60) { %>
                        긍정적
                    <% } else if (allLikeScore >= 40) { %>
                        복합적
                    <% } else if (allLikeScore >= 20) { %>                                    
                        부정적
                    <% } else { %>
                        압도적으로 부정적
                    <% } %>
                </span>
                <div class="progress-stacked">
                    <% 
                    var allLikePercent = likes.allLikes == 0 ? 0 : parseFloat(likes.allLikes) / parseFloat(allLikeTotal) * 100; 
                    var allSadPercent = likes.allSads == 0 ? 0 : parseFloat(likes.allSads) / parseFloat(allLikeTotal) * 100 
                    %>
                    <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="<%= allLikePercent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= allLikePercent %>%">
                        <div class="progress-bar">좋아요 <%= likes.allLikes %></div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="<%= allSadPercent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= allSadPercent %>%">
                        <div class="progress-bar bg-warning">킹받아요 <%= likes.allSads %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-neumorph p-3 mt-7">
                <h2>투표해주세요!</h2>
                <span>투표는 총점에도 반영되어요!</span>
                <br>
                <span>투표는 취소할 수 없고, 하루에 한번만 누를 수 있어요.</span>
                <br>
                <span class="r-text-secondary" style="font-size: 0.8em;">(투표 결과는 한달 단위로 총점에 합산됩니다.)</span>
                <br><br>
                <span>좋아요와 킹받아요를 통해 생각을 공유해주세요!</span>
                <br><br>
                <div class="btn-group mt-3" role="group" aria-label="Basic mixed styles example">
                    <a class="btn btn-primary" href="/like">🥰 좋아요</a>
                    <a class="btn btn-warning" href="/sad">🔥 킹받아요</a>
                </div>
            </div>
            <div class="accordion mt-3" id="privacy">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            개인정보처리방침 (투표 전 확인해주세요!)
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#privacy">
                        <div class="accordion-body">
                            <strong style="color: rgb(48, 209, 88);">투표 중복 방지 처리를 위해 IP 주소가 수집됩니다. </strong>
                            <br>수집된 IP 주소는 중복 투표 방지를 위해서만 사용되며, 개인정보 식별이나 이외의 어떤 목적으로도 사용되지 않습니다.
                            <br>또한, 수집된 IP 주소는 비인가자의 접근을 완전히 통제하고, 제 3자를 통해 처리하지 않습니다.
                            <br>IP 주소는 단방향 해시로 암호화되어 데이터베이스 내부에 저장되므로, 저장된 IP 주소를 취득하더라도 <strong
                                style="color: rgb(48, 209, 88);">물리적으로 원본 복원이 불가</strong>한 기록 방식을 사용하고 있습니다.
                            <br>따라서 IP 주소 삭제 및 투표 철회를 요청하시더라도 <strong style="color: rgb(48, 209, 88);">IP 주소를 특정할 수 없어
                                철회가 어려운 점</strong>을 알려드립니다.
                            <br>투표에 참여함으로써 해당 내용에 동의함을 간주합니다.
                            <br>위 내용에 이의를 신청할 수 있으며, <a href="https://mgchoi.com/#contact">개인정보관리책임자</a>를 통해 연락하시면 즉시
                            조치할 것을 약속드립니다.
                            <br><br>
                            <img class="img-fluid" src="/img/ipaddr_exam.png">
                            <br>
                            <span>* 서버에 IP 주소는 위와 같이 개발자도 식별이 불가하도록 저장됩니다.</span>
                            <br>
                            <span>* 2023년 01월 30일 03:34:11, IP 주소 암호화가 적용되며 모든 데이터베이스가 초기화되었습니다.</span>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!--  Footer  -->
    <div class="container-flex footer mt-7">
    </div>
    <div class="container-flex d-flex p-2 w-100 justify-content-between align-items-end r-bg-tertiary">
        <span class="r-text-tertiary">©2020 <a href="https://mgchoi.com">mgchoi.com</a>. All rights Reserved.</span>
        <span class="r-text-tertiary"><a href="https://mgchoi.com/#contact">개인정보관리책임자</a></span>
    </div>

    <!-- BootStrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <!-- Script -->
    <script type="text/javascript">
        //https://stackoverflow.com/questions/63082529/how-to-properly-introduce-a-light-dark-mode-in-bootstrap
        // Set theme to the user's preferred color scheme
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

        function updateTheme() {
            const colorMode = window.matchMedia("(prefers-color-scheme: dark)").matches ?
                "dark" :
                "light";
            document.querySelector("html").setAttribute("data-bs-theme", colorMode);
        }

        // Set theme on load
        updateTheme()

        // Update theme when the preferred scheme changes
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme)
    </script>
</body>

</html>